<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FontAwesome.Sharp" version="5.15.4" targetFramework="net46" />
  <package id="Guna.UI2.WinForms" version="2.0.4.6" targetFramework="net46" />
  <package id="jieba.NET" version="0.42.2" targetFramework="net46" />
  <package id="MeCab.DotNet" version="1.2.0" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net46" />
  <package id="WindowsAPICodePack-Core" version="1.1.1" targetFramework="net46" />
  <package id="WindowsAPICodePack-Shell" version="1.1.1" targetFramework="net46" />
  <package id="YunusEfendi.SubtitlesParser" version="2.0.0" targetFramework="net46" />
</packages>